* {
    box-sizing: border-box
}

.slideshow-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
}

.slideshow_mySlides {
    grid-column: 1/-1;
    grid-row: 1/-1;
    display: none;
}

.slideshow_image {
    width: 100%;
    object-fit: cover;
}

.slideshow_prev {
    grid-column: 1/2;
    grid-row: 1/-1;

    text-align: center;
    justify-self: center;
    align-self: center;
}

.slideshow_next {
    grid-column: 3/4;
    grid-row: 1/-1;

    text-align: center;
    justify-self: center;
    align-self: center;
}

#slide {
    width: 100%;
}

/* Next & previous buttons */
.slideshow_prev,
.slideshow_next {
    cursor: pointer;
    color:#a63251;
    background-color: white;
    width:45px;
    height:45px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 30px;
}

#dots{
    display:inline;
    grid-column: 2/3;
    grid-row: 1/-1;
}

/* The dots/bullets/indicators */
.slideshow_dot {
    

    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.slideshow_dot:hover {
    background-color: #494B55;
}